.project-title {
  font-size: 52px;
  font-weight: 400;
  line-height: normal;
}

.startup-project-text img {
  max-width: 100%;
  height: auto;
}

.repo-cards-div-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem 1rem;
}

.project-card{
  position: relative;
}

/* Media Query */
@media (min-width: 1380px) {//abobe 1380
  .project-card-footer {
      position: absolute;
      left: 0;
      bottom: 16px;
      width: 100%;
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .project-card-footer {
      position: absolute;
      left: 0;
      bottom: 16px;
      width: 100%;
  }
  .project-title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .project-card-footer {
    position: relative;
    bottom: 0;
    margin-top: 20px;
  }
  .project-title {
    font-size: 30px;
    text-align: center;
  }
  .repo-cards-div-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
