@import "../../_globalColor";

.footer-text {
  margin: 9px 0;
  text-align: center;
  color: #fff;
}
//  color: $subTitle !important;
.dark-mode {
  color: $textColorDark !important;
}

.footer-div {
  border: 2px solid red;
  margin-top: 1rem;
  background-color: #434343;
  padding-bottom: 10px; //1rem
}
